td, th
{
	border:1px solid black;
	height: 50px;
	width: 150px;
	text-align: center;
	font-size: 1rem;
}

h3
{
	font-size: 20px;
}

input:focus, select:focus
{
	outline: 0;
}

select
{
	-webkit-appearance: none;
	width: 130px;
	border-radius: 0;
	height: 19px;
	padding-left: 2px;
	background-color: white;
	border-color: #DDDDDD;
}

#header
{
	padding: 2rem;
	font-size: 1.5rem;
	background-color: grey;
	color: white;
}

#logoutbutton, #loginbutton
{
	position: absolute;
	top: 2.5rem;
    right: 2.5rem;
}

#homebutton, #changepasswordbutton
{
	position: absolute;
	top: 2.5rem;
    right: 6rem;
}

.headerbutton
{
	border: none;
	background-color: white;
	color: grey;
	font-size: 0.75rem;
	padding: 0.4rem;
	text-align: center;
	border-radius: 0.4rem;
}

.buttons
{
	border: none;
	background-color: grey;
	color: white;
	font-size: 0.75rem;
	padding: 0.4rem;
	text-align: center;
	border-radius: 0.4rem;
}

#adminbuttons, #addusers, #addfoods
{
	text-align: center;
}

#vendorloginform, #login, #orders, #consumptionform, #changepasswordform, #edituser, #editfood
{
	padding-top: 4rem;
  text-align: center;
}

#retryusercomponent, #retryfoodcomponent, #foodnamepopup, #usernamepopup
{
  text-align: center;
	display: none;
}

#endsession
{
	padding-top: 4rem;
    text-align: center;
}

#pageheading
{
	text-align: center;
	font-weight: bold;
}

#reportfordays
{
	display: none;
}

#reporttableheader
{
	text-align: center;
	border: none;
	padding: 0px;
}

.reporttabledata
{
	text-align: center;
	width: 600px;
}
